body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #772e25;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a {
	text-decoration: none;
	color: inherit;
}

#category1-scroll{
  overflow-x: scroll;
}
#inventory-section{
	overflow-y: scroll;
}
#outlined-size-normal {
	border: 2px solid #7f7979;
	border-radius: 30px;
	text-align: center;
	height: 2.5em;
	color: white;
}
#outlined-size-normal2 {
	border: 2px solid #7f7979;
	border-radius: 30px;
	text-align: center;
	width: 240px;
	height: 2.5em;
	color: white;
}
#loginButton, #createButton {
  margin-top: 10px;
	border-radius: 30px;
	background-color: #7f7979;
	text-align: center;
  width: 302.167px;
  height: 53px;
}
#loginButton:hover, #createButton:hover{
  opacity: 50%;
}
#productImage {
	height: 194px;
	justify-self: center;
	object-fit: contain;
}
#productInventoryImage{
	height: 50px;
	justify-self: center;
	object-fit: contain;
}